{{!< ../layouts/default}}
<script src="http://underscorejs.org/underscore.js"></script>

<div class="content">
    <div class="container">
    	<div class="row">
    		<div class="col-md-9">
		        <div class="page-header">
		            <h1>When someone you know {{name}}</h1>
		        </div>
		        <p>{{{intro}}}</p>
		    </div>
	    </div>
    </div><br/><br/>



    <div class="container">
		<div class="row">
			<div class="col-md-9">
				<ul id="advice">
					<li id="dos">
						<ul id="dos-list">
							{{#each dos}}
								<li>
									<div class="tip">{{text}}</div>
									<!-- <div class="vote">
										<a data-id="{{_id}}" href="#" class="upvote"></a>
										<span class="upvote-count">5</span>
										<a data-id="{{_id}}" href="#" class="downvote"></a>
										<span class="downvote-count">2</span>
									</div> -->
								</li>
							{{/each}}
						</ul>
					</li>
					<li id="donts">
						<ul id="donts-list">

							{{#each donts}}
								<li>
									<div class="tip">{{text}}</div>
									<!-- <div class="vote">
										<a data-id="{{_id}}" href="#" class="upvote"></a>
										<span class="upvote-count">6</span>
										<a data-id="{{_id}}" href="#" class="downvote"></a>
										<span class="downvote-count">6</span>
									</div> -->
								</li>
							{{/each}}
						</ul>


					</li>
				</ul>
			</div><br/><br/>



</div>
<br/><br/><br/>
		<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!-- <form class="form-inline" method="post">
					<div class="form-group">
						<select class="form-control" name="sug">
							<option></option>>
							<option>Do</option>
							<option>Don't</option>
						</select>
					</div>
					<div class="form-group" style="width:78%">
						<input  placeholder="Your suggestion..." class="form-control" name="text" type="text"/>
					</div>
					<button class="btn btn-primary">Add</button>
				</form> -->
			</div>
		</div>
	</div><br/>


<script>

	function makeReq(dir,id) {
		$.ajax({
			url:window.location.pathname + '/' + id + '/' + dir,
			method:'post'
		})
	}
	_.each($(".upvote-count,.downvote-count"),function(el) {
		el  = $(el);
		el.text(0);
		//el.text(Math.round(Math.random() * 10));
	});
	$(".upvote").on('click',function() {
		var sibling = $(this).siblings('.upvote-count');
		var num = parseInt(sibling.text());
		sibling.text(num+1);
		makeReq('up',$(this).attr('data-id'));
	});
	$(".downvote").on('click',function() {
		var sibling = $(this).siblings('.downvote-count');
		var num = parseInt(sibling.text());
		sibling.text(num+1);
		makeReq('down',$(this).attr('data-id'));
	});
</script>